@import "../../../mixin.scss";
.topCastList {
  @include flexCenter(column);
  width: 100%;
  margin: 20px 0;
  .trendingHead {
    @include flexCenter(row);
    justify-content: space-between;
    padding: 0 5px;
    width: 100%;

    span {
      font-family: "Bricolage Grotesque", sans-serif;
      color: white;
      font-weight: 600;
      font-size: 1rem;
      @include sm {
        font-size: 1.5rem;
      }
    }
  }
}
.container {
  padding: 0 20px;
  position: relative;
  .sliderBtn {
    position: absolute;
    top: 35%;
    background-color: rgba(3, 3, 3, 0.615);
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  .sliderBtn:hover {
    background-color: rgba(3, 3, 3, 0.749);
  }
  .prevBtn {
    left: 0;
  }
  .nextBtn {
    right: 0;
  }
}

.carouselContainer {
  @include flexCenter(row);
  justify-content: start;
  // width: 1160px;
  //   width: 335px;
  gap: 10px;
  overflow: hidden;

  margin-right: -20px;
  margin-left: -20px;
  margin-top: 15px;
  .castscroalableList {
    @include flexCenter(row);
    justify-content: start;
    align-items: start;
    gap: 10px;
    transition: all 1s ease;
    .skeletonItem {
      //   width: 282.5px;

      // width: 162.5px;
      @include flexCenter(column);
      align-items: start;
      flex-shrink: 0;
      .itemPhoto {
        position: relative;
        width: 100%;
        aspect-ratio: 1 / 1.5;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 10px;
        .lazy-load-image-background {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 12px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
    .castContainer {
      // width: 282.5px;
      // width: 162.5px;
      padding: 5px;
      @include flexCenter(column);
      align-items: start;
      flex-shrink: 0;
      position: relative;
      .videoThumbnail {
        position: relative;
        width: 100%;
        aspect-ratio: 4 / 2.5;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 10px;
        border-radius: 15px;
        border: 2px solid #1b1a1a;
        opacity: 0.75;
        .lazy-load-image-background {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 12px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
      .playIcon {
        position: absolute;
        z-index: 1;
        top: 20%;
        left: 40%;
      }
      .playIcon:hover {
        cursor: pointer;
      }
    }
    .videoThumbnail:hover {
      cursor: pointer;
    }

    .itemName {
      // margin: 25px 0 0 0;
      margin: 15px 0 0 0;
      font-weight: 600;
      font-size: 0.85rem;
      color: white;
      @include sm {
        margin: 20px 0 0 0;
        font-size: 0.95rem;
      }
      @include lg {
        font-size: 1rem;
      }
    }
    .itemCharacterName {
      margin: 10px 0 0 0;
      font-weight: 300;
      font-size: 0.7rem;
      color: rgb(219, 217, 217);
      @include sm {
        font-size: 0.8rem;
      }
      @include lg {
        font-size: 0.9rem;
        margin: 15px 0 0 0;
      }
    }
  }
}
.videoSection{
    margin-top: 90px;
}
