@import "../../../mixin.scss";

.list {
  margin-top: 20px;
  margin-bottom: 0;
  @include md {
    margin-top: 120px;
  }
  .errorMessage{
    @include flexCenter(row);
    justify-content: start;
    width: 100%;
    padding-left: 5px;
    margin: 10px 0 0;
  }
}